{{!-- <article>
    <div class="card-body">
        <a class="card-title" href="edit-blogs/{{id}}">{{title}}</a><br><br>
        <div>{{blog_post}}</div>
        <div class="card-subtitle mb-2 text-muted"><br>
            by {{user.username}} on {{format_date created_at}}
            |
            <br><a href="/edit-blogs/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
</article> --}}