<div>testing dashboard</div><br>
<button id="edit-btn" class="btn btn-light"><a href="/view-blogs">View all blogs</a></button><br>
<button id="edit-btn" class="btn btn-light"><a href="/edit-workouts">Create a workout</a></button><br>
<button id="edit-btn" class="btn btn-warning"><a href="/edit-blogs">edit</a></button>

<ol class="workout-list">
  {{#each workouts as |workout|}}
  <li>
    <article class="workout">
        {{workout.user.username}}'s workout<br>
      <div class="exercise_type">
        <a href="{{workout.exercise_type}}" target="_blank">{{workout.exercise_type}} exercise done for </a><br>
        <span>({{workout.exercise_duration}})</span><br>
      </div>
      <div class="meta">
        {{workout.calories_burned}} calories burned<br>
        {{workout.calories_consumed}} calories consumed<br>
        at {{workout.current_weight}} body weight<br>
        |
        {{!-- <a href="/post/{{post.id}}">{{workout.user.username}}</a> --}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>
{{!-- <ol class="blogs-list">
  {{#each blogs as |blog|}}
  <li>
    <article class="blog">

      <div class="meta">
        {{blog.title}}title <br>
        {{blog.blog_post}} data<br>
        {{blog.user.username}}
        |
              </div>
      
    </article>
  </li>
  <button id="edit-btn" class="btn btn-warning"><a href="/edit-blogs">edit</a></button>
  {{/each}}
</ol> --}}