<div class="container">
    <div class="row">
        <article class="col-8">
            <h2>
                Edit Post
            </h2>
            <form class="edit-blog-form">
                <div>
                    <input id="edit-blog-title" name="blog-title" type="text" value="{{blogs.title}}" /><br>
                    <textarea id="edit-blog-post" name="blog-post" type="text" value="{{blogs.blog_post}}"></textarea>
                </div>
                <div>
                    by you on {{format_date blog.createdAt}}
                    |
                    <a href="/edit-blogs/{{blogs.id}}">{{blogs.comments.length}} {{format_plural "comment"
                        blogs.comments.length}}</a>
                </div>
                <button type="button" id="save-blog-btn"class="blog-btn btn">Save blog</button>
                <button type="button" id="delete-blog-btn" class="blog-btn btn">Delete blog</button>
            </form>
        </article>

        <form class="comment-form col-4">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button id="comment-submit" type="button" class="btn">add comment</button>
            </div>
        </form>

{{#each blogs.comments as |comment|}}
    <section class="comment">
        <div class="meta">
            <h3>commmeneets</h3>
            {{user.username}} on {{format_date createdAt}}
            {{comment_text}}
        </div>
    </section>

    </div>
</div>
{{/each}}


<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>