<div class="container">
    <div class="row">
        <article class="col-8">
            {{#each blogs as |blog|}}
            <h2>
                {{blog.title}} hahaha
            </h2>
            <form >
                <div>
                    {{blog.blog_post}}
                </div>     

        <form class="comment-form col-4">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button id="comment-submit" type="button" class="btn">add comment</button>
            </div>
        </form>
     
     

    <section class="comment">
        <div class="meta">
            {{#each blog.comments as |comment|}}
        
            {{user.username}} on {{comment.created_at}}<br>
            {{comment.comment_text}}
            {{/each}}
        </div>
    </section>

    </div>
</div>

  {{/each}}

{{!-- <script src="/javascript/edit-blog.js"></script> --}}
{{!-- <script src="/javascript/delete-blog.js"></script> --}}
<script src="/javascript/comment.js"></script>
 <script src="/utils/helpers.js"></script> 