<section>
    <h2>All Blogs</h2>
    {{#each blogs as |blog|}}
    {{!-- {{> post-blog-full blog}} --}}
    <article>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{format_blog blog_post}}</p>
                <strong>
                    <p class="card-text">by: {{user.username}}</p>
                </strong>
                <strong>
                    <p class="card-text">on: {{format_date createdAt}}</p>
                </strong>
                <a href="/view-blogs/{{id}}" class="btn btn-primary">Go to post!</a>
            </div>
        </div>
        {{/each}}
</section>
<script src="/utils/helpers.js"></script>